
absl-py
aioconsole
annotated-types
anyio
astunparse
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
contourpy
cycler
decorator
deepface
dotenv
exceptiongroup
facenet-pytorch
fer
ffmpeg
filelock
fire
Flask
flask-cors
flatbuffers
fonttools
fsspec
gast
gdown
google-pasta
grpcio
gunicorn
h11
h5py
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
imutils
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
kiwisolver
libclang
llvmlite
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
more-itertools
moviepy
mpmath
mtcnn
namex
networkx
numba
numpy
openai-whisper
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
proglog
protobuf
pycparser
pydantic
pydantic_core
Pygments
pyneuphonic
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
retina-face
rich
safetensors
scipy
sentencepiece
six
sniffio
sounddevice
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf_keras
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
websockets
Werkzeug
wrapt
